---
layout: default
---

<div class="home">

  <section class="portfolio-projects">  
    <div class="grid-col grid-col-1">
      <a href="#">
        <img class="hover-fade" src="assets/img/01-flatiron-thumb.jpg" alt="flatiron">
      </a>
      <p class="grid-caption">Flatiron School</p>
    </div> <!--closes grid-col-1 -->

    <div class="grid-col grid-col-2">
      <a href="#">
        <img class="hover-fade" src="assets/img/02-learn-mag.jpg" alt="Learn Mag">
      </a>
      <p class="grid-caption">Learn Magazine</p>
    </div> <!--closes grid-col-2 -->

    <div class="grid-col grid-col-3">
      <a href="#">
        <img class="hover-fade" src="assets/img/03-learn-widget-2.jpg" alt="Learn Onboarding">
      </a>
      <p class="grid-caption">Learn Onboarding</p>
    </div> <!--closes grid-col-3 -->

    <div class="grid-col grid-col-4">
      <a href="#">
        <img class="hover-fade" src="assets/img/04-movable.jpg" alt="Movable Ink">
      </a>
      <p class="grid-caption">Movable Ink</p>
    </div> <!--closes grid-col-4 -->

   <div class="grid-col grid-col-5">
      <a href="#">
        <img class="hover-fade" src="assets/img/05-mixit-thumb.jpg" alt="Mix It Up">
      </a>
      <p class="grid-caption">Mix It Up</p>
    </div> <!--closes grid-col-5 -->

    <div class="grid-col grid-col-6">
      <a href="#">
        <img class="hover-fade" src="assets/img/06-idmag-thumb.jpg" alt="Interior Design">
      </a>
      <p class="grid-caption">Interior Design</p>
    </div> <!--closes grid-col-6 -->

  </section><!--closes portfolio-projects -->
 
</div>
